<h1>About the Company</h1>
<br>
<p>GIFT4MM is an international company that is evolving rapidly.</p>
<p>But how did GIFT4MM become what it is today?
<br>On 4 December, 1924, Martien Jonkers was born in Helmond. 
On his 21st birthday Martien started his own business. <br></p>
<p>
With Jonkers’ Handelsonderneming (commercial enterprise) he laid the foundation of GIFT4MM.
He was one of the first people to introduce pens imprinted with advertisements to the Dutch (and European) market. 
<br>His ambitions went beyond the Dutch borders and in 1961 GIFT4MM was founded, 
which is short for International Gift Organisation. GIFT4MM focused on selling promotional gifts to companies, 
foundations, institutions and the government.</p>

