<h1>Contact</h1>
<p>GIFT4MM Ltd</p>
<p>PO Box 11664
<br>Dublin 2
<br>Ireland</p>

<p>Tel: 0834441555
<br>Fax: 0834441555
<br>Email: info@gift4mm.ie
<br>Online: www.gift4mm.ie
<br>Twitter:@gift4mm
<br>Facebook: GIFT4MM</p>

<p>Registered in the England & Wales 6400537
<br>VAT number  GB 923 2678 19</p>
